.gradient-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* Hero background image */
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover the section */
  z-index: 1; /* below content, above gradient */
}

/* Gradient overlay */
.gradient-hero::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: radial-gradient(
    to bottom,
    rgb(102, 137, 143),
    rgb(236, 255, 252),
    rgb(255, 255, 255)
  );
  z-index: 0; /* below image and content */
}

/* Content above image + gradient */
.hero-header,
.hero-headline-wrapper {
  position: relative;
  z-index: 2;
}
